.main-container {
  height: 95%;
  width: 95%;
  background-color: #f5f7fb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid lightgrey;
  border-radius: 5px;
  background-image: url(../assets/circle3.png), url(../assets/circle4.png);
  background-position: left bottom, right top;
  background-size: 180px, 290px;
  background-repeat: no-repeat, no-repeat;
}

.card-grid {
  width: 90%;
}

.result {
  display: flex;
  justify-content: center;
  align-items: center;
}

.score {
  font-family: 'Inter', sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: center;
  color: #293264;
  margin-right: 18px;
  display: block;
}

.check-btn {
  border-radius: 10px;
  background-color: #4d5b9e;
  border: none;
  cursor: pointer;
  padding: 20px 55px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
  color: white;
}

@media only screen and (min-width: 800px) {
  .card-grid {
    width: 60%;
  }

  .score  {
    font-size: 22px;
  }
}

@media only screen and (min-width: 1560px) {
  .card-grid {
    width: 50%;
  }
}
